#partners {
    text-align : center;
    padding-top: 100px;

    .partnersCard {
        border: none;
    }

    .partnersImg {
        width     : 200px;
        height    : 200px;
        object-fit: fill;
    }
}

.footer {
    position: fixed;
    bottom  : 0;
}