html {
    min-height: 100%;
}

body {
    min-height: 100%;
    position  : relative;
    display   : block;
    margin    : 0;
    padding   : 0;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .page {
        padding-left : 0;
        padding-right: 0;
    }

    .cardImg {
        width     : 100px;
        height    : 100px;
        object-fit: fill;
    }

    .navbar-container {
        background-color: #f8f9fa !important;
    }

    .navbar-toggler {
        background-color: #f8f9fa !important;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-container {
        background-color: #f8f9fa !important;
    }

    .navbar-toggler {
        background-color: #f8f9fa !important;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .cardImg {
        width     : 300px;
        height    : 300px;
        object-fit: fill;
    }
}

.page {
    width  : 100%;
    margin : 0;
    padding: 50px 20%;
}

#navbar {
    width     : auto;
    background: transparent;
    margin    : 0;

    .container {
        display    : flex;
        margin     : 0, auto;
        align-items: center;
        max-width  : 1170px;
    }

    #navbar-logo {
        color           : white;
        float           : left;
        display         : block;
        background-color: transparent;
    }
}

#firstPage {
    height          : 100%;
    color           : white;
    background-color: #6BBAEC;
    padding-left    : 0;
    padding-right   : 0;

    #adbar {
        margin-top      : 50px;
        padding         : 10px;
        width           : 100%;
        background-color: #E15554;
        color           : white;
        text-align      : center;

        a:link {
            color: white;
        }

        a:active {
            color: white;
        }

        a:hover {
            color: #E3C800;
        }

        a:visited {
            color: white;
        }
    }

    #hero {
        padding-left : 20%;
        padding-right: 20%;
        margin       : 0;

        #title {
            padding-top: 100px;
            text-align : left;
            font-size  : 50px;
            font-weight: bold;
        }

        #subscribe {
            margin    : 0;
            text-align: left;
        }
    }
}

#tests {
    text-align: center;

    .adventurer {
        margin : 0;
        padding: 0;
    }
}

#whatisit {
    background-color: #E9F1F7;
    text-align      : left;

    .adventurer {
        margin : 0;
        padding: 0;
    }
}

#testimonials {
    text-align      : center;
    background-color: #82EAFF;
    color           : white;

    .slide {
        padding: 0;
    }

    img {
        object-fit: fill;
    }
}

#howitworks {
    text-align: center;
}

#partners {
    text-align      : center;
    background-color: #82EAFF;
    color           : white;

    #submitButton {
        height               : 100%;
        display              : inline-block;
        position             : relative;
        text-align           : center;
        text-decoration      : none;
        font                 : bold 30px;
        text-shadow          : 1px 1px 1px rgba(255,255,255, .22);
        -webkit-border-radius: 30px;
        -moz-border-radius   : 30px;
        border-radius        : 30px;
        -webkit-box-shadow   : 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
        -moz-box-shadow      : 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
        box-shadow           : 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
        -webkit-transition   : all 0.15s ease;
        -moz-transition      : all 0.15s ease;
        -o-transition        : all 0.15s ease;
        -ms-transition       : all 0.15s ease;
        transition           : all 0.15s ease;
    }
}

#platform_content {
    padding   : 0;
    margin    : 0;
    text-align: left;

    #pc_left {
        padding-left  : 20%;
        padding-top   : 100px;
        padding-bottom: 100px;
    }

    #pc_right {
        vertical-align           : middle;
        padding-top              : 100px;
        padding-left             : 10%;
        padding-bottom           : 100px;
        margin                   : 0;
        background-color         : #9B287B;
        border-top-left-radius   : 100%;
        border-bottom-left-radius: 100%;

        .pc_card {
            padding-top: 5%;
            color      : white;
        }
    }
}

#rewards {
    text-align: center;

    .card {
        text-align: left;
        border    : none;
    }
}

.cardImg {
    height    : 200px;
    width     : 200px;
    object-fit: fill;
}

.footer {
    width           : 100%;
    color           : #E9F1F7;
    background-color: #424C55;
    padding         : 20px;
    margin          : 0;
    display         : block;
    text-align      : center;
}